html, body { 
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    font-family: verdana, sans-serif;
}

h2 {
    font-family: 'Oxygen', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.header-logo {
    width: 500px;
    margin-top: 0.8em;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $aita-lightgray;
    min-height: 100vh;

    .header {
        height: 7rem;
        background-color: $aita-brown;
        color: white;
        font-family: 'Oxygen', sans-serif;
        font-size: 2em;
        line-height: 2em;
        font-weight: 700;
        padding-left: 0.5em;
    }

    .content {
        min-width: 30vw;
        width: 70%;
        margin: auto;
        flex-grow: 1;
        background-color: white;
    }
}