<div class="container">
  <div class="header">
    <img class="header-logo" src="assets/logo600.png" />
  </div>
  <div class="content">
    <div class="post">
      <h2>{{post?.Title || 'Post loading...'}}</h2>
      <br><br>
      {{post?.Body || 'Please wait, post loading...'}}
    </div>

    <div class="vote-result">
      <div *ngIf="!verdict" class="cast-vote">Cast your vote below!</div>
      <div *ngIf="verdict" class="verdict">
        <div class="vote-verdict">
          Your vote was:
          <div class="judgment">{{vote}}</div>
        </div>
        <div class="post-verdict">
          Post verdict was:
          <div class="judgment">{{postVerdict}}</div>
        </div>
      </div>
    </div>

    <div class="vote-buttons" *ngIf="!verdict">
      <div class="vote nta" (click)="castVote('Not the A-hole')">NTA</div>
      <div class="vote yta" (click)="castVote('Asshole')">YTA</div>
      <div class="vote nah" (click)="castVote('No A-holes here')">NAH</div>
      <div class="vote esh" (click)="castVote('Everyone Sucks')">ESH</div>
      <div class="vote info" (click)="castVote('Not Enough Info')">INFO</div>
    </div>

    <div class="new-post" (click)="newPost()">⟲ Load another post</div>
  </div>
</div>

<app-loading-overlay *ngIf="!loaded"></app-loading-overlay>